@use "./src/index";




.ticket-type {

  @media (max-width: 800px) {
    min-height: 198px !important;
  }

  .td-departure {
    top: 10px !important;
  }

  .td-price {
    right: 0 !important;
  }

  .td-price::before {


    @media (max-width: 800px) {
      content: "Стоимость";
      font-weight: normal;
      text-align: right;
    }
  }

  .td-button {
    display: none;
  }
}

.ticket {
  position: relative;

  @media (max-width: 800px) {
    display: block;
    min-height: 165px;
    background-color: #F4F4F4;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  }

  td {
    @media (max-width: 800px) {
      position: absolute;
      background-color: transparent !important;
      border: none !important;
    }
  }

  td::before {
    content: "";

    @media (max-width: 800px) {
      display: block;
      font-size: 10px;
      color: index.$common-grey;
    }
  }

  .td-departure, .td-destination {

    h4 {
      font-size: 20px;
      font-weight: 500;

      @media (max-width: 800px) {
        font-size: 18px;
      }
    }
    div {
      color: index.$base-color;

      @media (max-width: 800px) {
        font-size: 14px;
      }
    }
  }

  .td-departure {
    top: 0;
    left: 0;
    //position: relative;

    @media (max-width: 800px) {
    }

    .td-id {
      position: absolute;
      top: 5px;
      left: 20px;
      color: index.$common-grey;
      font-size: 14px;
      white-space: nowrap;

      @media (max-width: 800px) {
        font-size: 12px;
        opacity: .5;
      }
    }
  }

  .td-departure::before {
    @media (max-width: 800px) {
      content: "Отправление";
    }
  }

  .td-destination {
    bottom: 0;
    left: 0;
  }

  .td-destination::before {
    @media (max-width: 800px) {
      content: "Прибытие";
    }
  }

  .td-date::before {
    @media (max-width: 800px) {
      content: "Дата";
    }
  }

  .td-date {
    top: 0;
    right: 0;

    @media (max-width: 800px) {
      text-align: right;
    }
  }

  .td-duration {
    top: 40px;
    right: 0;

    @media (max-width: 800px) {
      text-align: right;
    }
  }

  .td-duration::before {
    @media (max-width: 800px) {
      content: "Время в пути";
    }
  }

  .td-seat {
    font-size: 18px;

    @media (max-width: 800px) {
      font-size: 14px;
      position: absolute;
      right: 0;
      top: 77px;
      text-align: right;
    }


  }
  .td-seat::before {
    content: "";

    @media (max-width: 800px) {
      content: "Место";
      top: 0;
      left: 0;
    }
  }

  .td-price {
    font-size: 18px;
    width: 0;
    white-space: nowrap;
    bottom: 0;
    right: 95px;

    @media (max-width: 800px) {
      width: auto;
      font-weight: bold;
    }
  }


  .td-button {
    width: 0;
    right: 85px;
    bottom: 0;
  }
}