@use "./src/index";

.search-form {
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  text-align: center;
  background-color: #FBFBFB;
  border-radius: 20px;

  @media (max-width: 800px) {
    padding: 0;
  }

  .search-inputs {
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
    gap: 15px;

    @media (max-width: 1080px) {
      flex-direction: column;
      gap: 50px;

      @media (max-width: 800px) {
        gap: 40px;
      }
    }

    p {
      margin-left: 5px;
      text-align: left;
      font-weight: 500;
      white-space: nowrap;
    }

    .city-inputs {
      display: flex;
      align-items: flex-start;
      gap: 15px;

      @media (max-width: 800px) {
        flex-direction: column;
        align-items: center;
        width: 100%;

        @media (max-width: 800px) {
          gap: 0;
        }
      }

      .city-input {
        min-width: 350px;
        width: 100%;

        @media (max-width: 800px) {
          min-width: unset;
        }
      }

      .swap-button {
      }
    }

    .date-inputs {
      display: flex;
      min-width: 320px;
      gap: 15px;
      align-items: flex-start;

      @media (max-width: 1080px) {
        width: 350px;

        @media (max-width: 800px) {
          max-width: none;
          width: 100%;
          min-width: unset;
        }
      }
      .date-input {
        width: 50%;
      }

      .button.main {
        width: 50%;
      }
    }

    .button.text {
      padding: 5px 0;
      color: index.$base-color;
      text-decoration: underline;
    }



    .input {
      width: 100%;
    }
  }
}