@use '/src/index';

.routes-page {
  min-height: 100vh;

  @media (max-width: 800px) {
    background-color: #FBFBFB;
  }


  .routes-page__inner {
    transition: padding-top .2s ease;

    .found-panel {
      margin-top: 60px;

      h1 {
        font-size: 24px;
      }

      h3 {
        color: index.$common-grey;
      }

      .routes-count {
        margin-top: 25px;
      }
    }
  }


}

.passport-info-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .input {
    margin-top: 15px;
  }
}



.buy-ticket-form {
  display: flex;
  flex-direction: column;

  .chosen-ticket {
    margin: 20px 0;
    padding: 10px;

    border-radius: 15px;
    border: 1px index.$base-color solid;

    background-color: #ffffff;

    span {
      font-weight: 500;
    }
  }

  .chosen-ticket-price {
    font-size: 20px;
    font-weight: 500;
  }
}


.success-message {
  text-align: center;

  img {
    display: block;
    margin: 20px auto;
  }

  .button {
    margin-top: 20px;
  }

  .timer {
    margin-top: 20px;
    font-size: 12px;
    color: #a8a8a8;
  }
}