@use 'src/index';

.welcome-section {
  position: relative;

  .bg-shape1 {
    position: absolute;
    top: max(10vh, 70px);
    display: none;
    z-index: -100;

    @media (max-width: 1080px) {
      display: block;
    }
  }

  .bg-shape2 {
    display: none;
    position: absolute;
    top: 40vh;
    right: 0;
    z-index: -100;

    @media (max-width: 1080px) {
      display: block;

      @media (max-width: 390px) {
        right: -50px;
      }
    }
  }

  .bg-shape3 {
    position: absolute;
    bottom: max(10vh, 10px);
    display: none;
    z-index: -100;

    @media (max-width: 1080px) {
      display: block;
    }
  }

  .welcome-section-content {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;


    .content__left {
      width: 55%;
      animation: toRight 1.3s ease;

      @keyframes toRight {
        0% {
          transform: translateX(-100vw);
          opacity: 0;
        }
        100% {
          transform: translateX(0%);
          opacity: 1;
        }
      }

      @media (max-width: 1080px) {
        width: 100%;

        @media (max-width: 800px) {
          a {
            display: block;
          }
        }
      }

      h1 {
        font-weight: bold;
        font-size: 50px;

        @media (max-width: 1080px) {
          font-size: 40px;
          line-height: 40px;
          padding-right: 120px;

          @media (max-width: 800px) {
            font-size: 32px;
            line-height: 34px;
          }
        }

        span {
          font-size: inherit;
          font-weight: inherit;
          color: index.$base-color;
        }
      }

      p {
        margin: 32px 0;

        @media (max-width: 1080px) {
          margin: 15px 0;
          font-size: 14px;
        }

        span {
          font-size: inherit;
          font-weight: 500;
        }
      }
    }

    .content__right {
      position: relative;
      animation: toLeft 1.5s ease;

      @keyframes toLeft {
        0% {
          transform: translateX(100vw);
          opacity: 0;
        }
        100% {
          transform: translateX(0%);
          opacity: 1;
        }
      }

      @media (max-width: 1080px) {
        display: none;
      }

      img {
        width: 654px;
        height: 443px;
        position: absolute;
        left: -50px;
        top: 0;
      }
    }
  }
}




// SLIDER SECTION
.slider-section {
  position: relative;
  padding: 20px;
  text-align: center;
  background-color: #F4F4F4;

  h2 {
    margin-bottom: 20px;

    @media (max-width: 1080px) {
      margin-bottom: 15px;
    }

    span {
      font-size: inherit;
      font-weight: inherit;
      color: index.$base-color;
    }
  }

  .slider {
    width: 100vw;
    display: flex;
    position: absolute;
    left: 0;
    background-color: #F4F4F4;

    .animated {
      padding: 20px 170px 20px 0;
      display: flex;
      gap: 170px;
      -webkit-animation: floatCities 15s linear infinite;
      -o-animation: floatCities 15s linear infinite;
      animation: floatCities 15s linear infinite;

      @media (max-width: 1080px) {
        padding: 20px 90px 20px 0;
        gap: 90px;
      }

      span {
        font-size: 27px;
        white-space: nowrap;
        color: index.$common-grey;

        @media (max-width: 1080px) {
          font-size: 20px;
        }
      }
    }
  }
}

@keyframes floatCities {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}




// ADVANTAGES SECTION
.advantages-section {
  padding: 200px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .advantages-content {
    h2 {
      margin-bottom: 60px;

      span {
        font-size: inherit;
        font-weight: inherit;
        color: index.$base-color;
      }
    }

    .advantages {
      display: flex;
      gap: 100px;

      @media (max-width: 1080px) {
        flex-direction: column;
      }

      h3 {
        font-size: 20px;

      }

      p {
        font-size: 14px;
      }
    }
  }
}





// QUESTIONS SECTION
.questions-section {
  padding-bottom: 200px;
  .questions-content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1080px) {
      justify-content: center;
    }

    form {
      max-width: 350px;
      display: flex;
      flex-direction: column;
      gap: 28px;

      textarea {
        min-height: 100px;
        max-height: 500px;
      }
    }

    .questions-picture {
      margin-right: 50px;
      position: relative;

      @media (max-width: 1080px) {
        display: none;
      }

      img {
        width: 545px;
        height: 407px;
        position: absolute;
        left: 50px;
      }
    }
  }
}